<a href="/" title="Go to Home">Home</a>
<a href="/about" title="Authoreninfo aufrufen">Über mich</a>
<a href="/impressum" title="Impressum aufrufen">lalala</a>
    {{#foreach navigation}}
    <a href="{{url absolute="true"}}">{{label}}</a>
    {{/foreach}}

<a href="/impressum" title="Impressum aufrufen">ich bin der test der sich immer ändert, um zu verhindern, dass git grad eine fehlerquelle darstellt.</a>