<menu class="social-media-share">
    <a href="https://twitter.com/shadowframe" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="https://vimeo.com/user2677157" class="icon-vimeo" rel="external" title="My Vimeo"></a>
    <a href="https://github.com/shadowframe" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="#" class="icon-mail" rel="external" title="My Mail"></a>
</menu>